@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-Regular.otf") format('otf');
  font-weight: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-Italic.otf") format('otf');
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-Light.otf") format('otf');
  font-weight: 300;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-LightItalic.otf") format('otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-Heavy.otf") format('otf');
  font-weight: 800;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-HeavyItalic.otf") format('otf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-Black.otf") format('otf');
  font-weight: 900;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-BlackItalic.otf") format('otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-Bold.otf") format('otf');
  font-weight: 700;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-BoldItalic.otf") format('otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-SemiBold.otf") format('otf');
  font-weight: 600;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-SemiBoldItalic.otf") format('otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-Thin.otf") format('otf');
  font-weight: 200;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-ThinItalic.otf") format('otf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-UltraLight.otf") format('otf');
  font-weight: 100;
}

@font-face {
  font-family: "Aileron";
  src: url("../res/fonts/aileron/Aileron-UltraLightItalic.otf") format('otf');
  font-weight: 100;
  font-style: italic;
}

.page-section-spacer{
  background-color: white;
  width: 100vw;
  height: 120vh;
}
