.blog-entry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: 'black'
}

.blog-entry > * {
  margin: 20px 0;
}

.title {
  font-size: 2rem;
  font-weight: 800;
}

.blog-header {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 200;
}

.blog-date {
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  margin-left: 20px
}

.blog-content > * {
  margin: 20px 0;
}

.writing {
  --size: 1rem;
  font-size: var(--size);
  font-weight: 400;
  line-height: calc(1.35 * var(--size));
}

@media only screen and (max-width: 499px){
  .blog-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-date {
    margin-left: 0;
  }
}
