#blog-toolbar {
  display: flex;
}

.toolbar-content {
  display: flex;
}

.toolbar-hidden {
  transform: rotate(-90deg);
}

.toolbar-showing {
  transform: rotate(0deg);
}

#blog-type-bar {
  width: 100%;
}

.blog-collection {
  width: 70%;
}

.page-title {
  margin-left: 15vw;
  padding-top: 4vh;
}

@media only screen and (min-width: 1000px){
  #blog-toolbar {
    position: fixed;
    right: 5vw;
    top: 20vh;
    flex-direction: column;
  }

  .toolbar-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 999px){
  #blog-toolbar {
    flex-direction: row;
    margin-left: 15vw;
    margin-top: 10px;
  }

  .toolbar-content {
    flex-direction: row;
  }
}

@media only screen and (max-width: 499px){
  .blog-collection{
    width: 90%;
  }

  .page-title{
    margin-left: 5vw;
  }

  #blog-toolbar {
    margin-left: 5vw;
  }
}
