.home-link {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  width: 1.5rem;
  height: 1.5rem;
  top: 5vh;
  right: 5vw;
  clip-path: circle(50%);
  position: fixed;
  z-index: 10;
  position: fixed;
  background-color: #FF5959;
}

.home-link:hover {
  transform: scale(1.2);
}
