.content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 90vh;
  margin: auto;
}

.page-wrapper{
  height: 100%;
  width: 100%;
  z-index: -1;
}

.homepage-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  height: 50%;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.logo {
  width: 100%;
}

.homepage-right {
  display: flex;
  flex-direction: row;
  width: 45%;
  align-items: center;
  justify-content: flex-start;
  margin-left: 7vw;
}

.homepage-left-content {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.homepage-right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 70vh;
}

.demo-disclaimer {
  position: absolute;
  font-weight: 100;
  font-size: 1.2rem;
}

.usa-flag {
  height: 1.5rem;
  width: 3rem;
  position: absolute;
}

@media only screen and (min-width: 1001px){
  .homepage-right-content > .explore-wrapper {
    visibility: hidden;
  }

  .content-wrapper {
    margin-top: 5vh;
  }

  .person-vid {
    bottom: 20vh;
    width: 35vw;
    height: 60vh;
  }

  .demo-disclaimer {
    color: black;
    top: 90vh;
    left: 5vw;
  }

  .usa-flag {
    top: 90vh;
    left: 20vw;
  }
}

@media only screen and (max-width: 1000px){
  .content-wrapper {
    width: 100vw;
    height: 100vh;
    margin-left, margin-right, margin-top: 0;
  }

  .person-vid {
    top: 0;
  }

  .homepage-left {
    visibility: hidden;
    display: none;
    margin: 0;
  }

  .homepage-right {
    width: 100%;
    margin: 0;
  }

  .homepage-right-content {
    height: 100%;
  }

  .homepage-right-content > .explore-wrapper{
    visibility: visible;
    position:absolute;
    /* left: 10vw; */
    width: 100vw;
    height: 30vh;
  }

  .homepage-right-content > .explore-wrapper > .explore {
    position: absolute;
    left: 10vw;
    width: 70vw;
  }

  .logo-right {
    visibility: visible;
    width: 70vw;
  }

  .person-vid {
    width: 100vw;
    height: 100vh;
  }

  .explore-wrapper {
    width: 100vw;
  }

  .demo-disclaimer {
    color: white;
    right: 5vw;
    font-size: 0.6rem;
  }

  .usa-flag {
    right: 5vw;
    top: 15vh;
  }
}

@media only screen and (max-width:1000px) and (min-width: 501px){

  .content-wrapper {
    height: 89vh;
  }

  .homepage-right {
    height: 89vh;
    align-items: flex-start;
  }

  .homepage-right-content > .explore-wrapper {
    top: 70vh;
  }

  .demo-disclaimer {
    top: 20vh;
  }
}

@media only screen and (max-width:500px){
  .logo {
    width: 50%;
  }

  .content-wrapper {
    margin-top: 0;
    height: 100vh;
  }

  .homepage-right {
    height: 100vh;
  }

  .homepage-right-content > .explore-wrapper {
    top: 80vh;
    width: 100vw;
    align-items: flex-start;
  }

  .homepage-right-content > .explore > .primary-button {
    align-self: flex-start;
  }

  .home-nav {
    position: absolute;
    color: white;
  }

  .demo-disclaimer {
    top: 5vh;
  }
}
