.image-container {
  position: relative;
  --image-cover-color: #24202080;
  --primary-color: #FF5959;
}

.image {
  --z-index: 0;
  --cover-z-index: calc(var(--z-index) + 1);
  width: 100%;
  height: 100%;
  z-index: var(--z-index);
  object-fit: cover;
}

.image-transition-div {
  position: absolute;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}

.image-cover-div {
  position: absolute;
  z-index: var(--cover-z-index);
  height: 100%;
  width: 100%;
  background-color: var(--image-cover-color);
}

.text {
  position: absolute;
  font-weight: 100;
  opacity: 0;
  color: white;
  z-index: 7;
  transition: opacity 0.5s ease-in-out;
}

.hover-div {
  position: absolute;
  top: 0;
  left: 0;
  transition: width 2.0s ease-in-out;
  background-color: #24202088;
  z-index: 5;
}

.date {
  top: 5%;
  right: 5%;
}

.desc {
  bottom: 5%;
  left: 5%;
}

.image-div {
  transition-property: width, height;
  transition-timing-function: ease-in-out;
  height: 100%;
}

.cover-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF5959;
  transition-timing-function: ease-in-out;
  transition-property: width, height;
}
