.find-me-here {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
