.location-node {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 0.3rem;
  position: absolute;
  margin: 0;
  transition-property: width, height, background-color;
  transition-duration: 0.2s;
}

.location-node:hover{
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 0.4rem;
}
