@media only screen and (min-width: 1000px){
  .grid-container {
    margin-top: 10vh;
  }
}

@media only screen and (min-width: 576px) and (max-width: 999px){
  .grid-container {
    margin-top: 7vh;
  }
}

@media only screen and (max-width: 575px){
  .grid-container {
    margin-top: 5vh;
  }
}

.grid {
  height: 100%;
}

.row {
  margin-bottom: 16px;
}

div[class^='col'] {
  height: 100%;
}
